
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta {
  width: 100%;
  padding: clamp(2rem, 8vw, 14.9rem);
  background: url("../assets/grind-2.png") center/cover no-repeat;
  /* min-height: 63rem; */
  --circle-1: clamp(12rem, 28vw, 22rem);
  --circle-2: clamp(24rem, 42vw, 34.4rem);
  --circle-3: clamp(38rem, 60vw, 49rem);
  --circle-4: clamp(52rem, 76vw, 62.8rem);
  --circle-5: clamp(64rem, 90vw, 74.4rem);
}
.cta-container {
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
}
.cta-content {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 69.1rem;
  /* height: 30.4rem; */
}

.cta-content-heading {
  font-family: var(--font-sora);
  font-weight: 600;
  font-size: clamp(3.2rem, 8vw, 6rem);
  line-height: 1.2;
  color: #ffffff;
  margin: 0;
}

.cta-content-accent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.cta-content-stroke {
  width: 33.1rem;
  height: 0.8rem;
}

.cta-content-subheading {
  width: 100%;
  height: 6.4rem;
  font-family: var(--font-sora);
  font-weight: 400;
  font-size: 2rem; /* 20px */
  line-height: 1.6; /* 32px */

  color: #cac6dd;
  margin: 0 0 2.5rem 0;
}

/* Button Component */
.cta-content-button {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 1.2rem 2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  text-decoration: none;

  /* Background Gradient */
  background: linear-gradient(87.43deg, #090edb 8.8%, #da24bb 84.38%);

  /* Glassmorphism & Border Gradient */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image:
    linear-gradient(87.43deg, #090edb 8.8%, #da24bb 84.38%),
    linear-gradient(
      97.08deg,
      rgba(255, 225, 225, 0.3) 2.55%,
      rgba(255, 255, 255, 0.114) 114.27%
    );

  /* Typography */
  color: #fff;
  font-family: var(--font-aeonik);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  transition: opacity 0.2s ease;
}

.cta-content-button:hover {
  opacity: 0.9;
}

@media (max-width: 860px) {
  .cta-content-stroke {
    width: 100%;
    height: auto;
  }
  .cta-content-subheading {
    height: auto;

    font-size: 1.6rem;
    line-height: 1.6;
  }
}
@media (max-width: 480px) {
  .cta-content-stroke {
    width: 100%;
    height: auto;
  }
  .cta-content-subheading {
    height: auto;

    font-size: 1.6rem;
    line-height: 1.6;
  }
}
