.testimonials-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.pricing-container{
    margin-top: 40px;
    display: grid;
    grid-template-columns:  repeat(3, 410px);
    gap: 24px;
}

.pricing-card{
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
}

.pricing-card h2{
    font-family: var(--font-sora);
    font-size: 32px;
    font-weight: 600;
}
.pricing-card-description{
    color: #CAC6DD;
    font-size: 20px;
    font-weight: 400;
}

.pricing-card-price{
    font-family: var(--font-sora);
    font-size: 88px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.pricing-card-currency{
    font-size: 60px;
    font-weight: 400;
}
.pricing-card-features{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}