

.testimonials {
  padding: clamp(3rem, 10vw, 10rem) 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonials-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  gap: 0.8rem;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.testimonials-wrapper {
  width: 100%;
  max-width: 132rem;
  margin: 0 auto;
  position: relative;
}

.outer-container,
.inner-container {
  width: 100%;
  position: relative;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-container {
  width: 100%;
  max-width: 132rem;
  padding: clamp(2rem, 4vw, 4rem);
  background: linear-gradient(
    80.42deg,
    rgba(0, 0, 0, 0.16) 25.25%,
    rgba(83, 84, 108, 0.16) 98.05%
  );
}




.outer-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2rem;
  padding: 1.2px;
  background: linear-gradient(
    266.19deg,
    rgba(16, 17, 50, 0.6) -4.37%,
    rgba(119, 124, 247, 0) 100.99%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.inner-container {
  width: 100%;
  max-width: 124rem;
  background: linear-gradient(
    79.59deg,
    rgba(51, 51, 62, 0.16) 6.21%,
    rgba(83, 84, 108, 0.16) 98.02%
  );
  padding-bottom: 5.6rem;
}

.inner-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.4rem;
  padding: 1px;
  background: linear-gradient(
    266.19deg,
    rgba(39, 40, 52, 0.6) -4.37%,
    rgba(146, 150, 238, 0) 100.99%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 100%;
}

.card-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.nav-btn-position {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.btn-left {
  left: -2rem;
}

.btn-right {
  right: -2rem;
}

.nav-btn {
  position: relative;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: opacity 0.3s;
  background: linear-gradient(87.95deg, #090edb -15.78%, #e73dc4 102.06%);
}

.nav-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  padding: 1.6px;
  background: linear-gradient(
    269.6deg,
    rgba(43, 49, 208, 0.7) 0.03%,
    rgba(104, 109, 250, 0.434) 86.31%
  );
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.nav-btn:hover {
  opacity: 0.8;
}

.nav-btn svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: white;
  position: relative;
  z-index: 1;
}

.nav-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 2.4rem;
  width: 100%;
}

.author {
  display: flex;
  align-items: flex-start;
  gap: 1.6rem;
  width: 100%;
}

.avatar,
.avatar img {
  width: 4.4rem;
  height: 4.4rem;
  object-fit: contain;
  border-radius: 50%;
  flex-shrink: 0;
}

.author-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.author-info h3 {
  font-family: var(--font-sora);
  line-height: 1;
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: 600;
  padding-bottom: 4px;
}

.author-meta {
  font-family: "Aeonik", sans-serif;
  color: #9d9ba6;
  font-size: 2rem;
  line-height: 1;
  font-weight: 400;
  margin: 0;
}

.testimonial-text {
  font-family: "Inter", sans-serif;
  color: #cac6dd;
  font-size: 2rem;
  line-height: 1.4;
  margin: 0;
}
.swiper-pagination-bullet{
  opacity: 1 !important;
} 

@media (max-width: 1400px) {
  .testimonial-text {
    font-size: 1.8rem;
  }
  .author-info h3 {
    font-size: 2.2rem;
  }
  .testimonial {
    padding: 2rem;
    gap: 2.4rem;
    
  }
}

.dots {
  position: absolute;

  display: flex;
  gap: 1.6rem;
  justify-content: center;
  width: 100%;
  height: 2.4rem;
  margin-top: 3.2rem;
}
#dotsContainer {
  bottom: 14% !important;
}

.dot {
  z-index: 10;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: relative;
  transition: all 0.3s ease;
}

.dot::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #cad1e9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot.active::before {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  padding: 1px;
  background: linear-gradient(87.95deg, #090edb -15.78%, #e73dc4 102.06%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.dot:not(.active):hover {
  background: #CAD1E9;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}

@media (max-width: 768px) {
  .nav-btn-position {
    display: none;
  }

  .author-info h3 {
    font-size: 1.6rem;
  }

  .author-meta,
  .testimonial-text {
    font-size: 1.2rem;
  }

  .card-content {
    gap: 1rem;
  }

  .testimonial {
    padding: 1.6rem;
  }
}

@media (max-width: 480px) {
  .outer-container {
    padding: 1rem;
  }

  .inner-container {
    padding-bottom: 3rem;
  }

  #dotsContainer {
    bottom: 5% !important;
  }

  .testimonial {
    padding: 1rem;
  }
}

