

.service {
  --gradient-primary: linear-gradient(to right, #090edb 19%, #8d1ea2 96%);
  --gradient-border: linear-gradient(
    87.95deg,
    rgba(9, 14, 219, 0.66) -15.78%,
    rgba(231, 61, 196, 0.66) 102.06%
  );

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: clamp(3rem, 8vw, 10rem) clamp(1rem, 2vw, 2.4rem);
  background: transparent;
  color: #cad1e9;
  text-align: center;
  overflow: hidden;
  background: url("../assets/noise-2.png");
}

.content {
  width: 100%;
  max-width: 67.4rem;
  max-height: 21.4rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  text-align: center;
}

.gradient-text {
  background: linear-gradient(87.49deg, #5a09dbbd 0.01%, #8c1ea2 87.36%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}



.service-cards {
  display: flex;
  gap: 2.4rem;
  margin-top: 4rem;
}
.service-card {
  z-index: 200;
  position: relative;
  max-width: 42.4rem;
  padding: 2px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  clip-path: polygon(0% 0%, 85% 0%, 100% 15%, 100% 100%, 0% 100%);
  border-radius: 2.4rem;
  border-top-right-radius: 20%;
  
  background: linear-gradient(
    87.95deg,
    rgba(9, 14, 219, 0.66) -15.78%,
    rgb(139 38 181) 102.06%);
  
     opacity: 1;
     transition: linear 0.5s;
}


.service-card::before {
    content: "";
    position: absolute;
    inset: 2px;
    z-index: -1;
    clip-path: inherit;
    border-radius: inherit;
    background: 
  radial-gradient(
    circle at center,
    #050472 0%,
    #190857 20%,
    rgb(17, 16, 53) 35%,
    #040618 60%,
    #0a0b11 100%
  );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  
}
.service-card::after {
  content: "";
  position: absolute;
 
  inset: 2px; 
  z-index: -1;

  clip-path: inherit;
  border-radius: inherit;
  
  background: linear-gradient(
    135deg,
    rgba(36, 27, 85, 0.05) 0%,
    rgba(255, 255, 255, 0.01) 100%
  );
  
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


.service-card {
  padding: 3.4rem; 
}

.service-card:hover {
  background:  linear-gradient(
    87.95deg,
    rgb(139 38 181) -15.78%,
    rgba(9, 14, 219, 0.66) 102.06%);
    transform: scale(0.99);
   
}

.service-card-icon-wrapper {
  width: 5.2rem;
  height: 5.2rem;
}

.service-card-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  text-align: start;
}

.service-card-title,
.service-card-description {
  font-family: var(--font-aeonik);
}

.service-card-title {
  font-size: 2.8rem;
  font-weight: 500;
  color: #d6ddf8;
  line-height: 1.2;
}

.service-card-description {
  font-size: 2rem;
  line-height: 1.4;
  color: #cac6dd;
}

.service-card-link {
  font-family: var(--font-sora);
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1;
}

.service-card-link:hover {
  opacity: 0.8;
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}


.service-subtitle {
  width: 100%;
  max-width: 67.4rem;
  height: auto;
  font-size: clamp(1.6rem, 3vw, 2.4rem);
  margin-bottom: 2rem;
  font-family: var(--font-aeonik);
  color: #cac6dd;
  padding-top: 0.8rem;
  opacity: 0.92;
}


@media (max-width: 860px) {
  .service {
    padding: 6rem 2rem;
  }

  .service-cards {
    flex-wrap: wrap; 
    justify-content: center;
    gap: 2rem;
  }

  
}


@media (max-width: 600px) {
  

  .service-cards {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .service-card {
    width: 100%;
    padding: 1.4rem;
  }
}
@media (max-width: 460px) {
  .service-subtitle br {
    display: none;
  }
}

