
/* reusables */
.gradient-text{
  background: linear-gradient(87.49deg, #5a09dbbd 0.01%, #8c1ea2 87.36%);

 
  -webkit-background-clip: text;
   background-clip: text;
  -webkit-text-fill-color: transparent;
}



.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.service-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.service--title {
    font-family: var(--font-sora);
    font-size: 4rem;
    font-weight: 600;
    color: rgba(202, 209, 233, 1);
    line-height: 120%;
    text-align: center;
}

.service--subtitle {
    font-size: 2.4rem;
    font-family: var(--font-aeonik);
    color: #CAC6DD;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}



.service--cards{
    display: grid;
    justify-content: space-between;
    gap: 24px;
   grid-template-columns: repeat(3, 1fr);
}

.service-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 28px;
    padding: 3.2rem;
    background-image: url(/assets/card-border.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
}

.service-card--body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
}

.service-card--body h3{
 font-family: var(--font-aeonik);
 font-size: 2.8rem;
 color: #D6DDF8;
 font-weight: 500;

}
.service-card--description{
    color: #CAC6DD;
    font-size: 2rem;
    font-family: var(--font-aeonik);

}

.service-card--link{
    display: flex;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
    color: #FFFFFF;
    font-size: 2rem;
    font-family: var(--font-sora);
}
.service-card--link img{
    vertical-align: middle;
}


/* services responsive */

@media (max-width:1340px) {
    .service{
         padding: 0 2rem;
    }
}

@media (max-width:992px) {
    
    .service--cards{
        grid-template-columns: repeat(2, 1fr);

    }
    .service-card--body h3 {
        font-size:2.4rem;
    }
    .service-card--body p{
        font-size: 16px;
    }
    .service-card a{
         font-size: 16px;
    }
}

@media (max-width: 620px) {
    .service--title{
        font-size: 2.8rem;
    }
    .service--subtitle{
        font-size: 1.8rem;
    }
    .service--cards{
        grid-template-columns: repeat(1, 1fr);

    }
}