.why-choose{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.texts{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.texts h1{
     font-family: var(--font-sora);
    font-size: 4rem;
    font-weight: 600;
    color: rgba(202, 209, 233, 1);
    line-height: 120%;
    text-align: center;
}
.texts p{
    font-size: 2.4rem;
    font-family: var(--font-aeonik);
    color: #CAC6DD;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
}
.glassboxes{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
}

.glassbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
    padding: 40px;

}

.protect, .report  , .secure{
    display: flex;
    gap: 20px;
   
}

/* .blue li{
     list-style: url(/assets/feature-check-blue-icon.svg);
}

.purple li{
     list-style: url(/assets/feature-check-purple-icon.svg);
}

.green li{
     list-style: url(/assets/feature-check-green-icon.svg);
} */

.glassbox h2{
    font-family: var(--font-aeonik);
    font-weight: 500;
    font-size: 3.2rem;
}
.glassbox li{
    font-family: var(--font-aeonik);
    font-weight: 400;
    font-size: 2rem;
    list-style-position: inside;
    padding-left: 36px;
   
   
}


.stretch{
    display: flex;
    flex-direction: column;
    gap: 42px;
    justify-content: space-between;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  position: relative;
  padding-left: 28px;
}

.blue li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 28px;
  height: 28px;
  background-image: url("/assets/feature-check-blue-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.purple li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 28px;
  height: 28px;
  background-image: url("/assets/feature-check-purple-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.green li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.4em;
  width: 28px;
  height: 28px;
  background-image: url("/assets/feature-check-green-icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
}