@font-face {
    font-family: "Aeonik-Regular";
    src: url(../fonts/fonnts.com-Aeonik-Regular.ttf) format('truetype');
}

@font-face {
    font-family: "Aeonik-bold";
    src: url(../fonts/fonnts.com-Aeonik-Bold.ttf) format('truetype');
}